h1{
    color: red;
    text-align: center;
}

.a{
    color: blue;
    text-align: center;
    margin: 20px;
}

.e{
    text-align: center;
}

.b{
    color: red;
    text-align: center;
    margin: 20px;
}